<div class="container mt-4">
  @if (!isPasswordSet) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card p-4">
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input
                        type="password"
                        id="password"
                        class="form-control"
                        formControlName="password"
                        autocomplete="new-password"
                        FormError
                        
						
                        [type]="passowrdType"
                />
                <div class="input-group-append">
                    <button
                            class="btn btn-outline-secondary border-0"
                            type="button"
                            (click)="togglePasswordVisibility()"
                    >
                        @if (passowrdType === "password") {
                            <mat-icon>visibility_off</mat-icon>
                        } @else {
                            <mat-icon>visibility</mat-icon>
                        }
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmationPassword">Confirm Password</label>
            <div class="input-group">
                <input
                        id="confirmationPassword"
                        class="form-control"
                        formControlName="confirmationPassword"
                        autocomplete="new-password"
                        FormError
                        
						
                        [type]="passowrdTypeConfirm"
                />
                <div class="input-group-append">
                    <button
                            class="btn btn-outline-secondary border-0"
                            type="button"
                            (click)="togglePasswordVisibilityConfirmation()"
                    >
                        @if (passowrdTypeConfirm === "password") {
                            <mat-icon>visibility_off</mat-icon>
                        } @else {
                            <mat-icon>visibility</mat-icon>
                        }
                    </button>
                </div>
            </div>
            @if ( form.errors !== null ) {
                @if(form.errors['passwordMismatch'] === true
                        && (form.controls['confirmationPassword'].dirty || isSubmitted()) ){
                    <div class="text-danger">Passwörter stimmen nicht überein.</div>
                }
            }
        </div>
      <button type="submit" class="btn btn-primary" >
        Speichere Passwort
      </button>

        <div>

        </div>

    </form>
  }
</div>
