<div class="col-md-12">
    <div class="card card-container">
        <img
                id="profile-img"
                src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                class="profile-img-card mb-5"
        />
        @if (true) {
            <form [formGroup]="form"
                    name="form"
                    (ngSubmit)="onSubmit()"
                    #f="ngForm"
                    novalidate
            >
				<div class="input-group form-floating mb-3">
					<input
							FormError
							class="form-control"
							placeholder=""
							formControlName="schoolId"
							id="schoolId"
							name="schoolId"
							required
							type="text">
					<label for="schoolId">Schulkennung</label>
					<div class="input-group-append align-content-center">
						<mat-icon (click)="changeSchoolId()" class="pointer-cursor">refresh</mat-icon>
					</div>
				
				</div>
                <div class="form-floating mb-3">
                    <input
                            type="email"
                            class="form-control"
                            name="username"
                            id="username"
                            formControlName="username"
							placeholder=""
							required
                            FormError
                    />
					<label  class="col-form-label" for="username">Geben Sie bitte  Ihre E-Mail an</label>
				
				</div>

                    <div class="form-floating mb-3 text-center mt-3">
                        <button class="btn btn-primary btn-block" >Send Reset Email</button>
                    </div>
                @if(requestSend){
                <div class="form-floating mb-3 m-2">
                    @if(success) {
                        <div class="alert alert-success" role="alert">
                            Ihre Anfrage zum Zurücksetzen des Passworts wurde erfolgreich bearbeitet.
                            Falls Ihre E-Mail-Adresse in unserem System hinterlegt ist,
                            erhalten Sie in Kürze eine E-Mail mit einem Link zum Zurücksetzen Ihres Passworts.
                            Bitte überprüfen Sie Ihren Posteingang und ggf. Ihren Spam-Ordner.
                        </div>
                    } @else {
                        <div class="alert alert-danger" role="alert">
                            Ihre Anfrage konnte nicht erfolgreich bearbeitet werden!
                        </div>
                    }
                </div>
                }
            </form>
        }

    </div>
</div>
