<div>
	<div class="row d-flex justify-content-between">
		<div class="col">
			<h1>Unterrichten</h1>
		</div>
		<div class="col-4 col mb-3 d-flex justify-content-end">
			<ys-view-switcher
					[(view)]="view"
			></ys-view-switcher>
<!--			<mat-button-toggle-group name="fontStyle" aria-label="Font Style"-->
<!--									 [(ngModel)]="view">-->
<!--				<mat-button-toggle value="table">-->
<!--					<img width="26" ngSrc="assets/img/table-icon.png" alt="Tabellenübersicht" height="26"></mat-button-toggle>-->
<!--				<mat-button-toggle value="card">-->
<!--					<img width="26" ngSrc="assets/img/card-icon.png" alt="Kartenübersicht" height="26"></mat-button-toggle>-->
<!--			</mat-button-toggle-group>-->
		</div>
	</div>
</div>
	<div class="row gx-1">
		@if(view === 'card'){
			<div class="col-4 col-md-2 form-floating mb-2">
				<select (ngModelChange)="onCardSortChange()" [(ngModel)]="sortCriteria" class="form-select"
						id="sortOptions">
					<option value="id">Kein</option>
					@for (key of sortableKeys(); track key) {
						<option [value]="key.name">{{ key.translation }}</option>
					}
					<!-- Add more sorting options as needed -->
				</select>
				<label for="sortOptions">Sortieren</label>
			
			</div>
			<div class="col-4 col-md-2 form-floating mb-2">
				<select (ngModelChange)="onCardSortChange()" [(ngModel)]="sortDirection" class="form-select"
						id="sortDirection">
					<option value="asc">Aufsteigend</option>
					<option value="desc">Absteigend</option>
				</select>
				<label for="sortDirection">Sortierart</label>
			</div>
		}
		<div class=" col col-md-4 mb-3">
			<ys-search-input
					(searchChange)="changeSearch($event)"
					[inputText]="searchInput()"
			></ys-search-input>
		</div>

	</div>
	@if (data()) {
		<div>
			@if(view === 'table'){
				<ys-custom-pageable-table
						[data]="data()"
						[baseUrl]="'/lessons'"
						[filter]="filteredKeys"
						[sorting]="sorting()"
						(sortChange)="onTableSortChange($event)"
						[isNotSortable]="isNotSortable()"
						(pageNumberChange)="changePage($event)"
						(rowClicked)="onRowClicked($event)"
				></ys-custom-pageable-table>
			} @else {
				<ys-pageable-cards-list
						[data]="data()"
						[baseUrl]="'/lessons'"
						[filter]="filteredKeys"
						(pageNumberChange)="changePage($event)"
						(rowClicked)="onRowClicked($event)"
				></ys-pageable-cards-list>
			}
		</div>
	}

