<div>
	<div class="row d-flex justify-content-between">
		<div class="col-md-6">
			<h1>Schüler/in</h1>
		</div>
		<div class=" col-md-4 mb-3 d-flex justify-content-end">
			<ys-view-switcher
					[(view)]="view"
			></ys-view-switcher>
		</div>
	</div>
</div>
<div class="row gx-1">
	<div class="col-4 col-md-2 mb-2 form-floating">
		<select (change)="filterChange()" [(ngModel)]="filterType"
				aria-label=""
				class="form-select " id="custom-filter">
			<option value="">Alle</option>
			<option value="WITHOUT_TEACHER">ohne Lehrer/in</option>
			<option value="WITH_TEACHER">mit Lehrer/in</option>
			<option value="WITHOUT_CONTRACT">ohne Vertrag</option>
			<option value="WITH_CONTRACT">mit Vertrag</option>
			<option value="WITHOUT_LESSON">ohne Unterrichte</option>
			<option value="WITH_LESSON">mit Unterrichte</option>
			<option value="DELETION">Markiert für das Löschen</option>
		</select>
		<label class="" for="custom-filter">Filter</label>
	</div>
	@if(view === 'card'){
	<div class="col-4 col-md-2 form-floating mb-2">
		<select (ngModelChange)="onCardSortChange()" [(ngModel)]="sortCriteria" class="form-select"
				id="sortOptions">
			<option value="id">Kein</option>
			@for (key of sortableKeys(); track key.name) {
				<option [value]="key.name">{{ key.translation }}</option>
			}
			<!-- Add more sorting options as needed -->
		</select>
		<label for="sortOptions">Sortieren</label>
	
	</div>
	<div class="col-4 col-md-2 form-floating mb-2">
		<select (ngModelChange)="onCardSortChange()" [(ngModel)]="sortDirection" class="form-select"
				id="sortDirection">
			<option value="asc">Aufsteigend</option>
			<option value="desc">Absteigend</option>
		</select>
		<label for="sortDirection">Sortierart</label>
	</div>
	}
	<div class=" col col-md-4 mb-3">
		<ys-search-input
				(searchChange)="changeSearch($event)"
				[inputText]="searchInput()"
		></ys-search-input>
	</div>

</div>
@if (data()) {
	
	@if (view === 'table') {
		<ys-custom-pageable-table
				[data]="data()"
				[baseUrl]="'/students'"
				[filter]="filteredKeys"
				[sorting]="sorting()"
				(sortChange)="onTableSortChange($event)"
				(pageNumberChange)="changePage($event)"
				(rowClicked)="onRowClicked($event)"
		></ys-custom-pageable-table>
	} @else {
		<ys-pageable-cards-list
				[data]="data()"
				[baseUrl]="'/students'"
				[filter]="filteredKeys"
				(pageNumberChange)="changePage($event)"
				(rowClicked)="onRowClicked($event)"
		></ys-pageable-cards-list>
	}
	
} @else {
	<div
			class="d-flex justify-content-center align-items-center custom-table-loader"
	>
		<h3>Keine Schüler gefunden</h3>
	</div>
}
