
<form [formGroup]="form">
	<div class="row  gx-1">
		<h2>Ansprechpartner
			<mat-slide-toggle color="primary" labelPosition="before" [checked]="!isContactDisabled()" (change)="onSliderChange()" ></mat-slide-toggle>
		</h2>
		
		
		<div class="form-floating mb-2 col-md-6">
			<!-- FIXME use <ys-title>-->
			<select
					(blur)="onTouched()"
					FormError
					[required]="required()"
					class="form-select"
					formControlName="gender"
					id="gender"
			>
				<option selected value="">---</option>
				<option value="männlich">männlich</option>
				<option value="weiblich">weiblich</option>
			</select>
			<label class="col-form-label" for="gender">Geschlecht</label>
		
		</div>
	</div>
	<div class="row  gx-1">
		<div class="form-floating mb-2 col-md-6">
			<input
					(blur)="onTouched()"
					FormError
					[required]="required()"
					class="form-control"
					formControlName="firstName"
					id="firstName"
					placeholder=""
					type="text"
			/>
			<label class="col-form-label" for="firstName">Vorname</label>
		
		</div>
		<div class="form-floating mb-2 col-md-6">
			<input
					(blur)="onTouched()"
					FormError
					[required]="required()"
					class="form-control"
					formControlName="lastName"
					id="lastName"
					placeholder=""
					type="text"
			/>
			<label class="col-form-label" for="lastName">Nachname</label>
		</div>
	</div>
	<div class="row gx-1">
		<div class="form-floating mb-2 col-md-6">
			<input
					(blur)="onTouched()"
					FormError
					[required]="required()"
					class="form-control"
					formControlName="email"
					id="email"
					placeholder=""
					type="text"
			/>
			<label class="col-form-label" for="email">Email</label>
		
		</div>
		<div class="form-floating mb-2 col-md-6">
			<input
					(blur)="onTouched()"
					FormError
					[required]="required()"
					class="form-control"
					formControlName="phoneNumber"
					id="phoneNumber"
					placeholder=""
					type="text"
			/>
			<label class="col-form-label" for="phoneNumber">Telefonnummer</label>
		
		</div>
	</div>


</form>
